<div class="container">
  <div class="container">
    <span>Back to <a href="/">Blog End</a></span>
  </div>

  <div class="container">
    <%= render partial: "form", locals: {blog_post: @blog_post} %>
</div>
